/local

# Build
/dist

# Modules
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS & Editor files
.vscode/*
!.vscode/extensions.json
.DS_Store

# Storybook
*storybook.log
storybook-static
