/* 
TODO(jw): determine color design
@import "@radix-ui/themes/tokens/base.css";

@import "@radix-ui/themes/tokens/colors/crimson.css";
@import "@radix-ui/themes/tokens/colors/jade.css";
@import "@radix-ui/themes/tokens/colors/indigo.css";
@import "@radix-ui/themes/tokens/colors/slate.css";

@import "@radix-ui/themes/components.css";
@import "@radix-ui/themes/utilities.css"; 
 
.radix-themes {
  --red-1: var(--crimson-1);
  --red-2: var(--crimson-2);
  --red-3: var(--crimson-3);
  --red-4: var(--crimson-4);
  --red-5: var(--crimson-5);
  --red-6: var(--crimson-6);
  --red-7: var(--crimson-7);
  --red-8: var(--crimson-8);
  --red-9: var(--crimson-9);
  --red-10: var(--crimson-10);
  --red-11: var(--crimson-11);
  --red-12: var(--crimson-12);

  --red-a1: var(--crimson-a1);
  --red-a2: var(--crimson-a2);
  --red-a3: var(--crimson-a3);
  --red-a4: var(--crimson-a4);
  --red-a5: var(--crimson-a5);
  --red-a6: var(--crimson-a6);
  --red-a7: var(--crimson-a7);
  --red-a8: var(--crimson-a8);
  --red-a9: var(--crimson-a9);
  --red-a10: var(--crimson-a10);
  --red-a11: var(--crimson-a11);
  --red-a12: var(--crimson-a12);

  --red-surface: var(--crimson-surface);
  --red-indicator: var(--crimson-indicator);
  --red-track: var(--crimson-track);
  --red-contrast: var(--crimson-contrast);
}
.radix-themes {
  --green-1: var(--jade-1);
  --green-2: var(--jade-2);
  --green-3: var(--jade-3);
  --green-4: var(--jade-4);
  --green-5: var(--jade-5);
  --green-6: var(--jade-6);
  --green-7: var(--jade-7);
  --green-8: var(--jade-8);
  --green-9: var(--jade-9);
  --green-10: var(--jade-10);
  --green-11: var(--jade-11);
  --green-12: var(--jade-12);

  --green-a1: var(--jade-a1);
  --green-a2: var(--jade-a2);
  --green-a3: var(--jade-a3);
  --green-a4: var(--jade-a4);
  --green-a5: var(--jade-a5);
  --green-a6: var(--jade-a6);
  --green-a7: var(--jade-a7);
  --green-a8: var(--jade-a8);
  --green-a9: var(--jade-a9);
  --green-a10: var(--jade-a10);
  --green-a11: var(--jade-a11);
  --green-a12: var(--jade-a12);

  --green-surface: var(--jade-surface);
  --green-indicator: var(--jade-indicator);
  --green-track: var(--jade-track);
  --green-contrast: var(--jade-contrast);
}

.radix-themes {
  --blue-1: var(--indigo-1);
  --blue-2: var(--indigo-2);
  --blue-3: var(--indigo-3);
  --blue-4: var(--indigo-4);
  --blue-5: var(--indigo-5);
  --blue-6: var(--indigo-6);
  --blue-7: var(--indigo-7);
  --blue-8: var(--indigo-8);
  --blue-9: var(--indigo-9);
  --blue-10: var(--indigo-10);
  --blue-11: var(--indigo-11);
  --blue-12: var(--indigo-12);

  --blue-a1: var(--indigo-a1);
  --blue-a2: var(--indigo-a2);
  --blue-a3: var(--indigo-a3);
  --blue-a4: var(--indigo-a4);
  --blue-a5: var(--indigo-a5);
  --blue-a6: var(--indigo-a6);
  --blue-a7: var(--indigo-a7);
  --blue-a8: var(--indigo-a8);
  --blue-a9: var(--indigo-a9);
  --blue-a10: var(--indigo-a10);
  --blue-a11: var(--indigo-a11);
  --blue-a12: var(--indigo-a12);

  --blue-surface: var(--indigo-surface);
  --blue-indicator: var(--indigo-indicator);
  --blue-track: var(--indigo-track);
  --blue-contrast: var(--indigo-contrast);
} */

#build-info {
  text-align: end;
  color: var(--accent-5);
}
